/*mobile*/
body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Europa', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    width: 75vw;
}





body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Europa', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    width: 100vw;
}

.logo {
    margin-left: auto;
	margin-right: auto;
	display: block;
	width: 96px;
}

.name {
    font-size: 36px;
    letter-spacing: 10px;
    font-weight: bold;
}

.style-nav ul {
    list-style-type: none;
    display: block;
    text-align: center;
}

.style-nav li {
    display: inline-block;
    padding: 20px;
}

.style-nav ul li a {

    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.descriptor {
    margin: 50px auto;
    line-height: 2em;
    max-width: 500px;

}

.largebutton {
    width: auto;
    height: 140px;
    background-color: #000;
    color: #fff;
    font-size: 36px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.buttontext {
    padding: 46px;
    color: #fff;
}

a {
    text-decoration: none;
}

.key { background-color: #5CD2FC; }
.tonic { background-color: #1BA7D9; }
.comfort { background-color: #102885; }
.rt {background-color: #060C36; }

.footer {
    background-color: #000;
    color: #fff;
    padding: 50px;
}

.pagetitle {
    background-color: #1BA7D9;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    padding: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;

}

.maincontent {
    margin: 50px auto;
    max-width: 945px;
    line-height: 2em;
    font-size: 16px;
}

.summary {
    font-size: 18px;
    line-height: 40px;
}

.secthead {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sectsub {
    font-weight: bold;
    font-size: 18px;

}