/* set max-width to 675px */

/* Animations */
@keyframes growtext {
    0% {font-size: 100%;}
    50% {font-size: 115%;}
    100% {font-size: 100%;}
}

@keyframes colorchange {
    0% {opacity: 100%; }
    10% {color: #4740B1; }
    70% {color: #4740B1; }
    100% {opacity: 100%; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*mobile*/
body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Europa', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.header {
    width: 80vw;
}

.logo {
    margin: 0px auto;
    display: block;
    animation: fadein 1.5s ease-in;
}

img {
    width: 18vw;
    padding-top: 10px;
    display: inline-block;
    animation: fadein 0.5s ease-in;
}

.name {
    font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    animation: fadein 1.5s ease-in;
    
}

.style-nav ul {
    list-style-type: none;
    display: block;
    padding: 20px;
    animation: fadein 1.5s ease-in;

}

.style-nav li {
    display: inline-block;
    padding: 0px 20px;
    margin: 20px;
}

.style-nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.descriptor {
    width: 80vw;
    margin: 50px auto;
    font-size: 20px;
    line-height: 40px;
    max-width: 675px;
    animation: fadein 1.5s ease-in;
}

.largebutton {
    width: 100vw;
    height: 140px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    animation: fadein 1.5s ease-in;
}

.buttontext {
    padding: 55px;
}

a:link {
    text-decoration: none;   
}

.buttontext a { 
    color: #fff;
}

a:hover {
    /* color: hotpink; */
    animation: colorchange 4s ease-in-out;
    /* animation: growtext 1.25s ease-in-out; */
}

.key { background-color: #5CD2FC; }
.tonic { background-color: #1BA7D9; }
.comfort { background-color: #102885; }
.rt { background-color: #060C36; }

.footer {
    background-color: #000;
    color: #fff;
    padding: 24px;
    line-height: 24px;
    animation: fadein 1.5s ease-in;
}

.foot a {
    color: #fff;
}

.email {
    text-decoration: none;
    color: #fff;
}

.pagetitle {
    background-color: #1BA7D9;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;

}

.keyapp { background-color: #5CD2FC; }
.tnc { background-color: #1BA7D9; }
.comf { background-color: #102885; }
.rescue { background-color: #060C36; }

.about {
    background-color: #fff;
    color: #000;
    animation: fadein 1.5s ease-in;
}

.maincontent {
    /* margin: 0 auto;
    max-width: 675px; */
    line-height: 2em;
    font-size: 16px;
    text-align: left;
    animation: fadein 1.5s ease-in;
}

.summary {
    margin: 40px auto;
    padding: 0 20px;
    max-width: 675px;
    font-size: 18px;
    line-height: 36px;
    animation: fadein 1.5s ease-in;
}

.section {
    margin: 0px;
}

.secthead {
    /* margin: 20px; */
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 0px 20px;
}

.sectsub {
    margin: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 20px;

}

.boldtext {
    margin: 10px auto;
    max-width: 675px;
    font-weight: bold;
    padding: 0px 20px;
}

.bodytext {
    margin: 10px auto;
    max-width: 675px;
    padding: 0px 20px;
}

.quote {
    max-width: 675px;
    margin: 20px auto;
    font-style: italic;
    font-size: 16px;
    text-align: center; 
}

.quotecap {
    max-width: 675px;
    margin: 20px auto;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    color: #000;
    opacity: 0.5;
}

ul {
    text-decoration: none;
}

iframe {
    width: 375px;
    height: 270px;
    margin: 20px auto;
}

.content-image {
    width: 100vw;
    height: auto;
}


