body {background: radial-gradient(circle, #c00, #900);}

@keyframes flickerAnimation {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
  }

h1 {
    color: #FFF;
    font-family:'Abril Fatface', cursive;
    font-size: 100px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
}

h2 {
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
}

.pawprint-1 {
    width: 20px;
    display: inline-block;
    position: relative;
    animation: flickerAnimation 4s infinite;
}

.pawprint-2{
    width: 20px;
    display: inline-block;
    position: relative;
    animation: flickerAnimation 4s infinite;
    animation-delay: 2s;
}

a {
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: #F00;
    text-decoration: underline;
}

