* {box-sizing: border-box }

@keyframes vinyl {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

body { 
    margin: 0 auto;
    padding: 0 auto;
    font-size: 20px;
    background: linear-gradient(to right ,#778899, #FFF);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #053461;
    text-align: center;
 }

img {
    height: 250px;
    padding: 0 auto;
    /* animation: vinyl 25s infinite linear; */
    display: block;
    margin: 0 auto;
    opacity: 0.5;
}

ul#tracks {
    list-style-type: none;
    text-align: center;
}
a:link {
    color: #000;
    text-decoration: none;
    opacity: 0.5;
}

a:hover {
    color: #000;
    text-decoration: underline;
    opacity: 0.8;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}