@keyframes moveup {
    0% {top: 300px;}
    50% {top: 200px;}
    100% {top: 300px;}
}


body {
    background: linear-gradient(to right, #000, #53346d, #000)
}

h1 {
    font-size: 48px;
    font-family: 'New Rocker', sans-serif;
    text-align: center;
    color: #f2edf6;
}

h2 {
    font-size: 32px;
    font-family: 'New Rocker', sans-serif;
    text-align: center;
    color: #f2edf6;
}

.rock {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 300px;
}

.sword {
    transform: rotate(-45deg);
    position: absolute;
    top: 300px;
    left: 500px;
    animation-name: moveup;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;

}