/* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border` */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

body {
  background-color: rgba(223,173,72,1);
  height: 100vh;
  width: 100vw;
}

h1 {
  color: rgba(42,42,42,1);
  font-family: Garamond, times, serif;
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  color: rgba(42,42,42,1);
  font-family: Gotham, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;

}

h3 {
  color: rgba(255,255,255,1);
  font-family: times, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 14px;
}

h4 {
  color: rgba(42,42,42,1);
  font-family: Garamond, times, serif;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  padding-top: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h5 {
  color: rgba(42,42,42,1);
  font-family: times, serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}

h6 {
  color: rgba(42,42,42,1);
  font-family: garamond,times, serif;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
  line-height: 1.75em;
  margin: 10px;

}

.header {
  padding-left: 20px;
  background-color: rgba(42,42,42,1);
  height: 8vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

}

.divider {
  height: 0.2vh;
  width: 80vw;
  background-color: rgba(42, 42, 42, 1);
  position: relative;
  margin: 100px;

}

iframe {
  position: relative;
  margin-left: 350px;
}
